* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  position: relative;
}

nav {
  font-family: "Ubuntu", sans-serif;
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 50px;
  color: white;
  position: absolute;
  z-index: 22;
}

#logo img {
  height: 100px;
  width: 100px;
  object-fit: cover;
  border-radius: 50%;
  background-color: transparent;
  mix-blend-mode: inherit;
}

.nav-items a {
  text-decoration: none;
  color: black;
  font-weight: 500;
  color: white;
  margin-left: 5vw;
  padding-bottom: 5px;
  transition: all 0.2s ease-in-out;
}
.nav-items a:hover {
  color: purple;
  border-bottom: 2px solid purple;
}

.extra {
  display: flex;
  flex-direction: column;
  float: right;
  color: white;
}
.ri-menu-line {
  color: white;
  display: none;
}
.mobile-icon {
  text-decoration: none;
}

main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
    url(./pexels-marta-dzedyshko-1042863-3302490.jpg);
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;
  position: relative;
}

#textarea {
  position: absolute;
  top: 50vh;
  left: 7vw;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#textarea h1 {
  text-transform: uppercase;
  color: white;
  font-size: 3rem;
  font-weight: 100;
  line-height: 9vh;
  letter-spacing: 2px;
}

.name-text {
  color: purple;
}
.button {
  margin: 10px;
  text-transform: uppercase;
  padding: 15px 20px;
  border-radius: 25px;
  font-family: "Ubuntu", sans-serif;
  font-size: 1em;
  font-weight: 500;
  background: transparent;
  color: white;
  border: 1px solid white;
  transition: all 0.2s ease-in;
}

.order {
  border: 1px solid purple;
  color: purple;
}

.order:hover {
  color: white;
  border: 1px solid white;
}
.more:hover {
  color: purple;
  border: 1px solid purple;
  transform: all 2s ease-in-out;
}

@media screen and (max-width: 1180px) {
  #textarea {
    top: 30vh;
    padding: 0px 2px;
  }
  #textarea h1 {
    font-size: 2rem;
  }

  .nav-items {
    display: none;
  }

  .ri-menu-line {
    display: inline;
  }

  .button {
    display: flex;
    margin-bottom: 30px;
  }
}
