* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  width: 100%;
}

#main {
  background-color: #ab8f97;
  height: 100%;
  width: 100%;
}

#centre {
  height: 80%;
  width: 80%;
  background-color: #bea5ab;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  overflow: hidden;
}

#navbar {
  display: flex;
  align-items: center;
  width: 400px;
  justify-content: space-evenly;
  position: absolute;
  top: 10%;
  left: 0%;
  z-index: 999;
}
#navbar img {
  height: 60px;
}
#navbar h4 {
  font-family: gilroy;
  font-size: 20px;
  color: white;
}

#part1 {
  width: 26%;
  height: 100%;
}

#part2 {
  width: 67%;
  height: 100%;
  background-image: url("https://images.unsplash.com/photo-1579463148228-138296ac3b98?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MzJ8fG1vZGVsc3xlbnwwfHwwfHx8MA%3D%3D");
  background-position: center;
  background-size: cover;
}
.overlay {
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 35%;
}

#part3 {
  width: 7%;
  height: 100%;
}

#text-div {
  position: absolute;
  top: 35%;
  left: 15%;
}

#text-div h1 {
  text-transform: uppercase;
  color: white;
  font-family: "Anton", sans-serif;
  font-size: 45px;
  font-weight: 900;
  line-height: 40px;
  letter-spacing: 1px;
}

#small-img {
  height: 220px;
  width: 200px;
  background-image: url("https://images.unsplash.com/photo-1529626455594-4ff0802cfb7e?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8MTB8fG1vZGVsfGVufDB8fDB8fHww");
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 30%;
  left: 78%;
}

#vertical-text {
  position: absolute;
  font-size: 30px;
  -webkit-text-stroke-width: 5px;
  -webkit-text-fill-color: transparent;
  color: white;
  font-family: "Rubik Mono One", monospace;
  letter-spacing: 5px;
  transform: rotate(90deg);
  top: 42%;
  right: -25%;
}
